---
---

@import "{{ site.theme }}";

.wrapper{
  width: 1080px;
}

section{
  width: 720px;
}

a:hover {
    font-weight: normal;
    text-decoration: underline;
}

.notbold{
    font-weight:normal;
}

html {
  scroll-behavior: smooth;
}

h4 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h4 span { 
    background:#fff; 
    padding:0 10px; 
}
