---
---

@import "{{ site.theme }}";


.wrapper{
  width: 1080px;
}

section{
  width: 720px;
}

a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
