---
---

@import "{{ site.theme }}";


.wrapper{
  width: 1080px;
}

section{
  width: 720px;
}

.faq .section p.quetn a, .faq .section p.quetn a:hover {
    text-decoration:underline;
    font-weight:bold
}
